.heading__primary {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  &--blue {
    background-image: linear-gradient(
      to right,
      $color-login-primary,
      $color-login-secondary
    );
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
